@inherits AbiCodeGenerateBase;

    <div class="simple-form">
        <div class="form-group">
            <label for="contractName">Contract Name:</label>
            <input type="contractName" class="form-control" @bind="@Model.ContractName" aria-describedby="contractNameHelp" />
            <small id="contractNameHelp" class="form-text text-muted">The smart contract name</small>

            <label for="abi">ABI:</label>
            <input type="abi" class="form-control" @bind="@Model.Abi" aria-describedby="abiHelp" />
            <small id="abiHelp" class="form-text text-muted">The smart contract ABI</small>

            <label for="byteCode">ByteCode:</label>
            <input type="byteCode" class="form-control" @bind="@Model.ByteCode" aria-describedby="byteCodeHelp" />
            <small id="byteCodeHelp" class="form-text text-muted">The smart contract deployment compiled ByteCode</small>

            <button @onclick="@Model.CodeGenerateAsync" class="btn btn-secondary">Generate code</button>

        </div>
        <p><small>*Note the file generated will be saved on the browser local storage</small></p>
    </div>
