@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

    #app {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .top-row {
        height: 3.5rem;
        display: flex;
        align-items: center;
    }

    .main {
        flex: 1;
    }

/*
    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

    .sidebar {
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    }

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }
    */

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 969.98px) {
    .main .top-row {
        display: none;
    }
    .btnfileMenu {
        display: none;
    }
    .compileInfo {
        display: none;
    }
}

@media (min-width: 970px) {
   #app {
        flex-direction: row;
    }

    .sidebar {
        width: 264px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar {
        border: none;
    }

    .navbar-brand {
        border: none;
    }
    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.terminal-console {
    background-color: #000;
    border: 1px solid #000;
    color: #FDF4E0;
    padding: 8px;
    font-family: courier new;
    font-size: small !important;
}

    .terminal-console:focus {
        background-color: #000;
        border: 1px solid #000;
        color: #FDF4E0;
        padding: 8px;
        font-family: courier new;
        font-size: small !important;
    }

.monaco-editor {
    position: absolute !important;
}