<div class="top-row pl-3 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="images/logo192x192t.png" width="50" height="50" />Nethereum Playground</a>
    <button class="navbar-toggler" @onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-terminal" aria-hidden="true"></span> C#
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="vb" Match="NavLinkMatch.All">
                <span class="oi oi-terminal" aria-hidden="true"></span> VB
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="netdappmodules" Match="NavLinkMatch.All">
                <span class="oi oi-layers" aria-hidden="true"></span> NetDapp Modules
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="remoteassembliesinfo" Match="NavLinkMatch.All">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Remote Assemblies
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/Nethereum" target="_blank">
                <span class="oi oi-globe" aria-hidden="true"></span>Github Nethereum
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/Nethereum/Nethereum.Playground" target="_blank">
                <span class="oi oi-globe" aria-hidden="true"></span>Source Code
            </NavLink>
        </li>

    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
