@inherits LoadFileBase;

    <div class="simple-form">
        <div class="form-group">
            <input type="file" accept="@Model.AllowedExtension" @ref="@FileUpload" onchange="@OnChange" />
            
            @if (string.IsNullOrEmpty(Model.FileName))
            {
                <button class="btn btn-primary" disabled >Load file</button>
            }
            else
            {
                <button onclick="@ReadFile" class="btn btn-primary">Load file</button>
            }
       
        </div>
        <p><small>*Note that loaded files are saved on the browser local storage</small></p>
    </div>
