@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components

@inject IJSRuntime JSRuntime
<div class="row">
    <div class="col">
        <div id="@EditorModel.Id" style="width:@GetWidthInPx();height:@GetHeightInPx();border:1px solid grey"></div>
    </div>
</div>
@functions {

    [Parameter]
    public EditorModel EditorModel { get; set; }

    [Parameter]
    public int Width { get; set; } = 800;

    [Parameter]
    public int Height { get; set; } = 600;

    bool _alreadyRendered = false;

    protected override async Task OnAfterRenderAsync(bool value)
    {
        if (!_alreadyRendered)
        {
            var result = await Interop.EditorInitializeAsync(JSRuntime, EditorModel);
            _alreadyRendered = true;
        }
    }

    private string GetHeightInPx()
    {
        return Height.ToString() + "px";
    }

    private string GetWidthInPx()
    {
        return Width.ToString() + "px";
    }

    public async Task EditorUpdateAsync()
    {
        EditorModel = await Interop.EditorGetAsync(JSRuntime, EditorModel);
        Console.WriteLine($"Script is now: {EditorModel.Script}");
    }

    public async Task EditorSetValueAsync(string newScript)
    {
        EditorModel.Script = newScript;
        EditorModel = await Interop.EditorSetAsync(JSRuntime, EditorModel);
    }
}
