@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components

@inject IJSRuntime JSRuntime

    <div class="col m-1" style="width:100%;  min-width:100%">
        <div id="@EditorModel.Id" style="height: 540px; width: 100%; min-height: 100%; min-width:100%"></div>
    </div>
@functions {

    [Parameter]
    public EditorModel EditorModel { get; set; }


    bool _alreadyRendered = false;

    protected override async Task OnAfterRenderAsync(bool value)
    {
        if (!_alreadyRendered)
        {
            var result = await Interop.EditorInitializeAsync(JSRuntime, EditorModel);
            _alreadyRendered = true;
        }
    }

    public async Task EditorUpdateAsync()
    {
        EditorModel = await Interop.EditorGetAsync(JSRuntime, EditorModel);
        Console.WriteLine($"Script is now: {EditorModel.Script}");
    }

    public async Task EditorSetValueAsync(string newScript)
    {
        EditorModel.Script = newScript;
        EditorModel = await Interop.EditorSetAsync(JSRuntime, EditorModel);
    }
}
